* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#root {
  width: 100%;
  margin: 0 auto;
  margin-top: 6em;
  padding: 0;
  text-align: center;
}

.rotate-div {
  filter: none;
  transition: filter 300ms;
}

.rotate-div:hover {
  transform: scale(1);
  filter: blur(5px);
  /* animation: logo-spin 2s linear infinite; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin 2s linear infinite;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #001a33;
  color: white;
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-between;
  align-items: center; /* Vertically center the items */
  gap: 2rem;
  padding: 0 1rem;
  width: 100%;
}

.nav-links li {
  transition: 0.3s ease-in;
  list-style: none;
  cursor: pointer;
  border: 0px solid #000000;
  color: white;
  padding: 10px;
  height: 40px;
}

.nav-links li.active {
  color: #00e500;
}

.nav-links li:hover {
  color: #0e89fc;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

nav a:hover {
  color: #0e89fc;
}

.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* centers all items horizontally */
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;
}

.container1 > * {
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;
}

.container2 {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  justify-items: center;
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.container2 > * {
  border: 1px solid #000000;
  padding: 20px;
  margin: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* // Form */

input {
  background-color: #ffffff;
  color: black;
  border: 1px solid #000000;
  height: 40px;
  padding-left: 20px;
}

select {
  background-color: #ffffff;
  color: black;
  border: 1px solid #000000;
  height: 40px;
}

input[type="radio"] + label {
  padding-left: 25px;
  height: 20px;
  display: inline-block;
  position: relative;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 50%;
}

input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #000000;
  border-radius: 50%;
}

p {
  font-size: 18px;
  line-height: 22px;
}

.homeContainers {
  display: flex;
  justify-content: center;
  align-items: middle;
  align-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  border: 0px solid #000000;
  padding: 20px 30px;
}
h2 {
  line-height: 40px;
}

.h2-bold {
  font-weight: 600;
}

@media (max-width: 600px) {
  .mobile-text {
    text-align: left;
  }
}

.tech-logo {
  max-width: 80px;
}

@media (max-width: 500px) {
  .tech-logo {
    max-width: 60px;
  }
}

.horizontalBar {
  width: 75%;
  margin: 0 auto;
  height: 1px;
  border: 0px;
  background: lightgrey;
  /* background: linear-gradient(to right, #0598ce, #113768); */
}

.predictButton {
  color: black;
  border: 0;
  background-color: #00e500;
  height: 100%;
  transition: 0.3s ease;
  text-align: center;
  justify-content: center;
}

.predictButton:hover {
  background-color: #00ff00;
}

.chatButton {
  color: black;
  border: 0;

  background-color: #00e500;
  height: 100%;
  transition: 0.3s ease;
  text-align: center;
  justify-content: center;
}

.chatButton:hover {
  background-color: #00ff00;
}
